<p id="notice"><%= notice %></p>

<p>
	<strong>Name: </strong>
	<%= @station.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @station.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @station.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @station.longitude %>
</p>

<div id="map" style="width:450px;height:300px"></div>

<%#<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@station.latitude}%2C#{@station.longitude}" %>

<h3>Nearby Bike Stations</h3>
<ul>
<% for station in @station.nearbys(3) %>
  <li><%= link_to station.name, station %> (<%= station.distance.round(2) %> miles)</li>
<% end %>
</ul>

<%= link_to 'Edit', edit_station_path(@station) %> |
<%= link_to 'Back', stations_path %>

<script>
      function initMap() {
        var uluru = {lat: <%= @station.latitude %>, lng: <%= @station.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
          //icon: '/images/bike_station.png'
        });

        marker.setMap(map); 

        google.maps.event.addListener(marker,'click',function() {

          map.setZoom(18);
          map.setCenter(marker.getPosition());
          /*var infowindow = new google.maps.InfoWindow({
            content: <%= @station.name %>
          });
          infowindow.open(map,marker);*/
        
        });

      }
    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwPKgwz5gKHp7lA1Ix1KK5Y95iQR3iR7c&callback=initMap"
    type="text/javascript"></script>

<%# put in show.json.jbuilder: json.partial! "stations/station", station: @station %>