<h1 class="display-1">Administration</h1>
<hr>
<h1>Bicycle Management</h1>
<ul>
  <li><%= link_to "Show All", bicycles_path %></li>
  <li><%= link_to "Add New", new_bicycle_path %></li>
</ul>
<hr>
<h1>Station Management</h1>
<ul>
  <li><%= link_to "Show All", stations_path %></li>
  <li><%= link_to "Add New", new_station_path %></li>
</ul>
<hr>
<h1>Voucher Management</h1>
<ul>
  <!-- <li><%= link_to "Show All", vouchers_path %></li> -->
  <li><%= link_to "Add New", new_voucher_path %></li>
</ul>
<hr>
<h1>Trip Management</h1>
<ul>
  <li><%= link_to "Show All", trips_path %></li>
  <!-- <li><%= link_to "Add New", new_trip_path %></li> -->
</ul>