<% voucher.each do |t| %>
<div class="card">
  <div class="card-block">
    <h4 class="card-title"><%= t.name %></h4>
    <p class="card-text"><%= t.voucher_type %></p>
    <p class="card-text">Total vouchers <%= t.quantity%></p>
    <p class="card-text">AirCredit: <%= t.aircredit_price %></p>
    <p class="card-text"><%= t.discount_info %></p>
    <p class="card-text"><%= t.description %></p>    
    <p class="card-text"><%= t.expired_at %></p>
   </div>
</div>
<% end %>