<h1>Yours Teams</h1>
<%= render partial: "teams", :locals => {team: @teams} %>


<h1>Add Members</h1>
<%= form_for [@team, @team_user] do |f| %>
	<div class="form-group">
		<%= f.label :user_id %>
		<%= f.select :user_id, User.all.map{ |u| [u.name, u.id]}, include_blank: true %>
	</div>
	<%= f.submit "Add friend to your team", class: 'btn btn-secondary' %>
<% end %>