<!DOCTYPE html>
<html>
  <head>
    <title>Airbike</title>
    <%= csrf_meta_tags %>
    <!--<script async defer src="http://maps.googleapis.com/maps/api/js?key=AIzaSyASJ-Ja54wHh18bq14iOuyWNdMxOta_QRc"></script>
    <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script> -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-light bg-faded">
      <a class="navbar-brand" href="/">AirBike</a>
      <ul class="nav navbar-nav">
        <% if current_user %>
          <li class="nav-item dropdown float-xs-right">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">User</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
              <%= link_to "Account settings", setting_users_path, class: "dropdown-item" %>
              <a class="dropdown-item" href="#">Notifications</a>
              <%= link_to "Log Out #{current_user.name}", sign_out_path, method: 'delete', class: "dropdown-item" %>
            </div>
          </li>
          <li class="nav-item dropdown float-xs-right">
            <a class="nav-link dropdown-toggle" href="#" id="menuDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menu</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="menuDropdown">
              <%= link_to "Code", code_users_path, class: "dropdown-item" %>
              <%= link_to "Nearby Stations", nearby_users_path, class: "dropdown-item" %>
              <%= link_to "Vouchers", voucher_users_path, class: "dropdown-item" %>
              <%= link_to "Personal", personal_users_path, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Login", new_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
      <!-- <form class="form-inline float-xs-right">
        <input class="form-control" type="text" placeholder="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> -->
    </nav>
    <% if flash.any? %>
      <% flash.each do |key, value| %>
        <div class="alert <%= flash_class_name(key) %>" >
          <%= value %>
        </div>
      <% end %>
    <% end %>
    <div class='container'>
      <%= yield %>
    </div>
    <!--script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwPKgwz5gKHp7lA1Ix1KK5Y95iQR3iR7c&callback=initMap"
    type="text/javascript"></script-->
  </body>
</html>