<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= javascript_include_tag "https://www.google.com/jsapi" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <title>Simple Sidebar - Start Bootstrap Template</title>

    <link href="/assets/stylesheets/simple-sidebar/simple-sidebar.css" rel="stylesheet">
  </head>
  <body>
    <div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">

        <ul class="date-wrapper">
            <li class="day">
              <a>
                <img class = 'logo-size' src="/assets/airbike_white_logo_white_type.svg" alt="AirBike Logo">
              </a>
                <%= today_day %>
            </li>
            <li class="month">
              <%= today_month %>
            </li>
        </ul>
        <ul class="personal-wrapper">
          <li class="name">
            Hi <%= current_user.name %>
          </li>
            <span class="line"></span>
          <li class="air-credit">
            You currently have <%= current_user.air_credit %> AirCredit
          </li>
        </ul>
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
          </li>
          <li class='nav-item'>
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class='nav-item'>
            <%= link_to "Access Code", code_users_path, class: "nav-link" %>
          </li>
          <li class='nav-item'>
            <%= link_to "Personal Data", personal_users_path, class: "nav-link" %>
          </li>
          <li class='nav-item'>
            <%= link_to "My Vouchers", orders_path , class: "nav-link" %>
          </li>
          <li class='nav-item'>
            <%= link_to "Vouchers", vouchers_path, class: "nav-link" %>
          </li>
          <li class="nav-item dropdown float-xs-right">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
              <%= link_to "My Account", setting_users_path, class: "dropdown-item black" %>
              <%= link_to "Instructions", instructions_vouchers_path, class: "dropdown-item black" %>
              <%= link_to "Log Out", sign_out_path, method: 'delete', class: "dropdown-item black" %>
            </div>
          </li>
        </ul>
      </div>
      <!-- /#sidebar-wrapper -->
      <!-- Page Content -->
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-10 offset-lg-2">
                <% if flash.any? %>
      <% flash.each do |key, value| %>
        <div class="alert <%= flash_class_name(key) %>" >
          <%= value %>
        </div>
      <% end %>
    <% end %>
    <div class='container'>
      <%= yield %>
    </div>
              <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>
              <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="/assets/javascripts/simple-sidebar/jquery.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/javascripts/simple-sidebar/bootstrap.min.js"></script>
    <!-- Menu Toggle Script -->
    <script>
      $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
  </body>
</html>

