<% voucher.each do |t| %>
<div class="col-lg-4 col-sm-6">
<h4 class="card-title-voucher"><%= t.name %></h4>
<div class="card">
    <ul class ="voucher-wrapper">
        <li><%= t.voucher_type %></li>
        <li>Total vouchers <%= t.quantity%></li>
        <li>AirCredit: <%= t.aircredit_price %></li>
        <li><%= t.discount_info %></li>
        <li><%= t.description %></li>    
        <li>Expires on <%= t.expired_at.strftime("%b %d") %></li>
        <div class="center">
           <%= link_to 'Redeem', new_voucher_order_path(t), class: 'btn btn-primary' %>
        </div>
    </ul>
</div>
</div>
<% end %>